target/
tools/marshalsec-*.jar
tools/marshalsec-*.jar.partial
tools/exploit/*.class
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
tfplan
*.tfplan
*.pem
